Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-celery-beat
dj_database_url
celery[redis]
redis
psycopg2-binary
drf-spectacular
python-decouple
pydantic
transformers
torch
spacy
openai-whisper
Pillow
django-storages
gunicorn
uvicorn[standard]